* {
	font-size:1.05em;
	vertical-align:top;
	font-family:Mono;
}
form {
	display:none;
	background-color:lightgray;
	width:320px;
	margin:0;
	padding:10px;
}
h1{
	font-size:1.1em 
}
textarea,
input[type=text],
input[type=password]{
	border:0;
	display:block;
	width:100%;
	margin-bottom:15px;
	padding:5px;
}
span[name=hash]{
	display:block;
	margin:10px 0;
	word-wrap:anywhere;
	padding:10px;
	color:darkblue;
	min-height:1em;
	max-height:200px;
	overflow:auto;
	background:beige;
}
pre[name=secret] {
	margin:10px 0;
	display:block;
	background:beige;
	min-height:1em;
	overflow:auto;
	color:darkblue;
	max-height:200px;
	padding:5px;
}
nav a {
	padding:3px;
	color:darkred;
	text-decoration:none;
	display:inline-block;
	background-color:white;
}
.-off { display:none }
a.-on{ background-color:lightgray; }
form.-on{
	background-color:lightgray;
	display:block
}
